<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
<nav class="navbar text-light nav-mobile p-2">
  <div class="nav-sign">
    <a href='/'><img class='img-arrow' src='https://cdn-icons-png.flaticon.com/512/9622/9622757.png'></a>
    <p class='register'>LOGIN</p>
    <%= f.submit "Log in", class: "btn btn-primary next log " %>
  </div>
</nav>


<section class="d-flex flex-column p-2">
  <div class="form-label-group">
    <%= f.email_field :email, class: "form-control", autocomplete: "email", placeholder: 'Email' %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: 'Password' %>
  </div>

<% end %>

<div>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot' %><br />
<% end %>
</div>
</section>