<div id="<%= dom_id payment %>">
  <p>
    <strong>Name:</strong>
    <%= payment.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>User:</strong>
    Created by <%= payment.user.name %> <%= time_ago_in_words(payment.created_at) %> ago
  </p>

  <p>
    <strong>Category:</strong>
    <%= payment.category_id %>
  </p>

</div>
