<p style="color: green"><%= notice %></p>
<div class='navbar'>
        <h1 class='title-categories'>Payments</h1>
        <%= button_to 'Log out', destroy_user_session_path, class: 'btn btn-primary', method: :delete %>
      </div>
<div id="payments">
  <% @payments.each do |payment| %>
    <%= render payment %>
    <p>
      <%= link_to "Show this payment", payment, class: 'grey-but' %>
    </p>
  <% end %>
  <div class='cont-h3-btn'><h3 class='btn btn-primary white'><%= link_to " Create a New Payment", new_payment_path %></h3></div>
</div>
