<p style="color: green"><%= notice %></p>
<%= render @payment %>
<div>
  <div class='edit-payment'><% if can? :update, @payment%>
    <%= link_to "Edit this payment", edit_payment_path(@payment) %>
  <% end %></div>
  <div class='edit-payment'><%= link_to "Back to payments", payments_path %></div>
  <div class='destroy-but-pay'><% if can? :destroy, @payment%>
    <%= button_to "Destroy this payment", @payment, method: :delete %>
  <% end %></div>
</div>
