<div id="<%= dom_id category %>">
  <div class='cont-catgory'>
    <div>
      <p class='p-img'>
      <strong></strong>
      <img class='card-img-top' src="<%= category.icon %>">
    </p>
    </div>
    <div class='cont-name-user'>
      <p class='name-category'>
        <strong></strong>
        <%= category.name %>
      </p>
      <p>
        By <%= category.user.name %> <%= time_ago_in_words(category.created_at) %> ago
      </p>
    </div>
  </div>
</div>