<p style="color: green"><%= notice %></p>

<div class='container-amount'>
  <h1 class='title-categories'>Categories</h1>
  <p class='total-amount'> Total Amount $<%= Category.total_amount(@categories) %></p>
</div>
<h3 class='new-category'><%= link_to "New category", new_category_path %></h3>
<div class="categories">
  <% @categories.each do |category| %>
  <div class='category-render'>
    <%= render category %>
    <p class='details-but'><%= link_to "Details category", category %></p>
  </div>
  <% end %>
</div>
