<p style="color: green"><%= notice %></p>
<div class='navbar'>
        <h1 class='title-categories'>Categories</h1>
        <%= button_to 'Log out', destroy_user_session_path, class: 'btn btn-primary', method: :delete %>
      </div>
<div class='container-amount'>
  <p class='gift-credit'>Gift credit</p>
  <p class='total-amount'> $<%= Category.total_amount(@categories) %><i class="bi bi-shop"></i></p>
</div>
<div class="categories">
  <% @categories.each do |category| %>
  <div class='card main'>
    <div class='card'>
      <%= render category %>
      <p><%= link_to "Details category", category, class:'details-cat' %></p>
    </div>
  </div>
  <% end %>
  <div class='cont-h3-btn'><h3 class='btn btn-primary white'><%= link_to " Create a New category", new_category_path %></h3></div>
</div>
