<p style="color: green"><%= notice %></p>
<div class='render-cat'><%= render @category %></div>
<div class='container-show-categories'>
  <div class='item-categories'><% if can? :update, @category %>
    <%= link_to "Edit this category", edit_category_path(@category) %>
  <% end %></div>
  <div class='item-categories'><%= link_to "Back to categories", categories_path %></div>
  <div class='item-categories'><% @payments.each do |payment| %>
    <%= link_to 'Payment', payment %>
  <% end %></div>
  <div class='item-but-destroy'><% if can? :destroy, @category %>
    <%= button_to "Destroy this category", @category, method: :delete %>
  <% end %></div>
</div>
