<p style="color: green"><%= notice %></p>
<%= render @category %>
<div>
  <% if can? :update, @category %>
    <%= link_to "Edit this category", edit_category_path(@category) %> | 
  <% end %>
  <%= link_to "Back to categories", categories_path %> | 
  <% @payments.each do |payment| %>
    <%= link_to 'Payment', payment %>
  <% end %>
  <% if can? :destroy, @category %>
    <%= button_to "Destroy this category", @category, method: :delete %>
  <% end %>
</div>

