<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Proxima Nova reference. -->
    <link href="https://use.typekit.net/emv3zbo.css" rel="stylesheet" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class='navbar'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class='container-navbar'>
        <div class='title-main'>
          <h1 class='tennis-shop'>Tennis Shop RF Argentina</h1>
        </div>
        <div class='nav'>
          <% if user_signed_in? %>
          <a href='/'></a>
          <a href='/categories'>Categories</a>
          <a href='/payments'>Payments</a>
          <div class='logout-button'><%= button_to 'Log out', destroy_user_session_path, method: :delete %></div>
        <% end %>
        </div>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
